.add-item-area {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.add-item-input {
  flex-grow: 1;
}
.list-item {
  background-color: #EEEEEE;
  display: flex;
  flex-direction: row;
  padding: 4px;
}
.list-item-ordering {
  width: 25px;
  border: 1px solid;
  border-radius: 2px;
  padding: 4px;
  text-align: center;
}
.list-item-text {
  flex-grow: 1;
  margin-left: 6px;
  vertical-align: middle;
  padding: 4px;
}
.list-item-tools {
  padding: 4px;
}
