<div class="add-item-area">
  <input [(ngModel)]="newItem.itemText" 
         (keyup.enter)="addItem()"
         placeholder="add to list"
         class="add-item-input"/>
  <button (click)="addItem()" class="add-item-button">+</button>
</div>
<div *ngFor="let listitem of listItems" class="list-item">
    <span class="list-item-ordering">{{listitem.ordering}}</span>
    <span class="list-item-text">{{listitem.itemText}}</span>
    <span class="list-item-tools">
        <button (click)="moveUpListItem(listitem)" class="up-item-button">^</button>
        <button (click)="moveDownListItem(listitem)" class="down-item-button">v</button>
        <button (click)="removeListItem(listitem)" class="remove-item-button">-</button>
    </span>
</div>
